<app-menuheader></app-menuheader>
<div class="">
  <div class="max-w-sm h-auto mx-auto my-20 rounded-md overflow-hidden shadow-lg" *ngIf="(loggedInUser$ | async) as loggedInUser">
    

<!-- <img class="object-cover rounded-full h-36 w-36 mx-auto m-1 p-1 border-4 border-pink-600"
    src="loggedInUser.profilePicUrl"
    alt="User Profile Picture" /> -->

    <div class="px-6 py-4" >
      <div class="flex flex-col">
        <div class="font-bold text-xl text-center text-gray-800 hover:text-pink-500 hover:cursor-pointer"
          *ngIf="loggedInUser !== null">{{ loggedInUser.username }}</div>
        <p class="text-gray-600 text-sm text-center" *ngIf="loggedInUser !==null"> ROLE - {{loggedInUser.role}}</p>
      </div>



      <form [formGroup]="profileForm" (submit)="onUpdateProfilePicture(loggedInUser.id)" enctype="multipart/form-data">
        <input type="file" formControlName="profilePicture" accept="image/*" (change)="onFileSelected($event)" />
        <button type="submit" [disabled]="!profileForm.valid">Update Profile Picture</button>
      </form>
      
    </div>

    <div>

    </div>

  </div>
</div>